* {
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 50px;
}

.proconatiner {
    display: flex;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-left: 20px;
}

.subcon {
    margin: 20px;
    justify-content: space-evenly;
}

.amazonimg {
    height: 350px;
    border-radius: 2rem;
    justify-content: space-evenly;
}

#des {
    padding-right: 50px;
}

.para {
    margin-top: 40px;
}