.container-fluid {
    height: 30px;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: blue;
    color: aliceblue;
}

.navbar-brand {
    color: #fff;
    font-size: 30px;
}

.nav-link {
    color: aliceblue;
}